---
import BaseHead from "../../components/BaseHead.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import BlogPostCard from "../../components/LinkCard.astro";
import Header from "../../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";

export const prerender = false;

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en" data-theme="night">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="block h-[100%]">
    <Header />
    <main
      class="prose prose-invert container flex flex-col items-center justify-center gap-3 sm:gap-6 px-4 py-16 text-center mx-auto min-h-[calc(100%-64px)]"
    >
      <section
        class="flex flex-row flex-wrap gap-2 justify-center align-middle text-center"
      >
        {
          posts.map((post) => (
            <BlogPostCard title={post.data.title} href={`/blog/${post.slug}/`}>
              <FormattedDate date={post.data.pubDate} dark={false} />
            </BlogPostCard>
          ))
        }
      </section>
    </main>
  </body>
</html>
