---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en" data-theme="night">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="block h-[100%]">
    <Header />
    <main
      class="prose prose-invert container flex flex-col items-center justify-center gap-3 sm:gap-6 px-4 py-16 text-center mx-auto min-h-[calc(100%-64px)]"
    >
      <section
        class="flex flex-row flex-wrap gap-2 justify-center align-middle text-center"
      >
        {
          posts.map((post) => (
            <div class="card card-compact w-64 bg-primary shadow-xl">
              <div class="card-body text-base-100">
                <h2 class="card-title text-base-100">{post.data.title}</h2>
                <FormattedDate date={post.data.pubDate} dark={false} />
                <div class="card-actions justify-end">
                  <button class="btn btn-base-100">
                    <a href={`/blog/${post.slug}/`}>Read</a>
                  </button>
                </div>
              </div>
            </div>
          ))
        }
      </section>
    </main>
  </body>
</html>
