---
import BaseHead from "../components/layout/BaseHead.astro";
import LinkIcon from "../components/LinkIcon.astro";
import Header from "../components/layout/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION, RESUME_URL } from "../consts";

import { SOCIALS, TECHNOLOGIES } from "../consts";
import HomePageIntro from "../components/customize/HomePageIntro.astro";
---

<!DOCTYPE html>
<html lang="en" data-theme="night">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="block h-[100%]">
    <Header title={SITE_TITLE} />
    <main
      class="container flex flex-col items-center justify-center gap-3 sm:gap-6 p-4 text-center mx-auto min-h-[calc(100%-64px)]"
    >
      <HomePageIntro />

      <span>
        <h2 class="mb-2 text-xl text-white sm:text-[1.5rem]">
          Places I exist:
        </h2>
        <div
          class="flex flex-row flex-wrap items-center justify-center gap-4 text-center"
        >
          {
            SOCIALS.map((social) => {
              return (
                social.icon && (
                  <LinkIcon name={social.name} href={social.href}>
                    <social.icon className="text-2xl hover:text-pink-500 sm:text-4xl" />
                  </LinkIcon>
                )
              );
            })
          }
        </div>
      </span>

      <span>
        <h2 class="mb-2 text-xl text-white sm:text-[1.5rem]">Stuff I use:</h2>
        <div
          class="flex flex-row flex-wrap items-center justify-center gap-4 text-center"
        >
          {
            TECHNOLOGIES.map((technology) => {
              return (
                technology.icon && (
                  <LinkIcon name={technology.name} href={technology.href}>
                    <technology.icon className="text-2xl hover:text-pink-500 sm:text-4xl" />
                  </LinkIcon>
                )
              );
            })
          }
        </div>
      </span>

      <div>
        {
          RESUME_URL && (
            <a
              class="btn btn-primary btn-outline btn-md lg:btn-lg"
              href={RESUME_URL}
              target="_blank"
              rel="noreferrer"
            >
              Resumé
            </a>
          )
        }
      </div>
    </main>
  </body>
</html>
