---
import BaseHead from "../components/BaseHead.astro";
import LinkIcon from "../components/LinkIcon.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION, RESUME_URL } from "../consts";

import { SOCIALS, TECHNOLOGIES } from "../consts";
---

<!DOCTYPE html>
<html lang="en" data-theme="night">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="block h-[100%]">
    <Header title={SITE_TITLE} />
    <main
      class="container flex flex-col items-center justify-center gap-3 sm:gap-6 px-4 py-16 text-center mx-auto min-h-[calc(100%-64px)]"
    >
      <h1 class="text-4xl font-extrabold text-white sm:text-8xl">
        Hi, I&apos;m <span class="text-pink-500">Atridad</span>
      </h1>

      <h2
        class="text-2xl font-extrabold tracking-tight text-white sm:text-[2rem]"
      >
        I&apos;m a <span class="text-green-500">persian</span> -
        <span class="text-red-500">canadian</span>{" "}
        <span
          class="bg-gradient-to-r from-pink-500 to-blue-500 bg-clip-text text-transparent"
        >
          queer
        </span>{" "}
        software developer who loves making things for the web.
      </h2>

      <h2
        class="text-xl font-extrabold tracking-tight text-white sm:text-[1.5rem]"
      >
        Pronouns: (<span class="text-cyan-500">he</span>/<span
          class="bg-gradient-to-r from-pink-500 to-blue-500 bg-clip-text text-transparent"
        >
          they
        </span>)
      </h2>

      <span>
        <h2 class="mb-2 text-xl text-white sm:text-[1.5rem]">
          Places I exist:
        </h2>
        <div
          class="flex flex-row flex-wrap items-center justify-center gap-4 text-center"
        >
          {
            SOCIALS.map((social) => {
              return (
                social.icon && (
                  <LinkIcon name={social.name} href={social.href}>
                    <social.icon className="text-2xl hover:text-pink-500 sm:text-4xl" />
                  </LinkIcon>
                )
              );
            })
          }
        </div>
      </span>

      <span>
        <h2 class="mb-2 text-xl text-white sm:text-[1.5rem]">Stuff I use:</h2>
        <div
          class="flex flex-row flex-wrap items-center justify-center gap-4 text-center"
        >
          {
            TECHNOLOGIES.map((technology) => {
              return (
                technology.icon && (
                  <LinkIcon name={technology.name} href={technology.href}>
                    <technology.icon className="text-2xl hover:text-pink-500 sm:text-4xl" />
                  </LinkIcon>
                )
              );
            })
          }
        </div>
      </span>

      <div>
        <a
          class="btn btn-primary btn-outline btn-md lg:btn-lg"
          href={RESUME_URL}>Resumé</a
        >
      </div>
    </main>
  </body>
</html>
