---
import BaseHead from "../../components/BaseHead.astro";
import LinkCard from "../../components/LinkCard.astro";
import Header from "../../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION, PROJECTS } from "../../consts";
---

<!DOCTYPE html>
<html lang="en" data-theme="night">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body class="block h-[100%]">
        <Header />
        <main
            class="container flex flex-col items-center justify-center gap-3 sm:gap-6 px-4 py-16 mx-auto min-h-[calc(100%-64px)]"
        >
            <section
                class="flex flex-row flex-wrap gap-2 justify-center align-middle"
            >
                {
                    PROJECTS.map((project) => (
                        <LinkCard
                            title={project.name}
                            href={project.href}
                            external={project.external}
                        >
                            {project.description && (
                                <p>{project.description}</p>
                            )}
                        </LinkCard>
                    ))
                }
            </section>
        </main>
    </body>
</html>
